.navbar {
    width: 100%;
    height: auto;
    background-color: turquoise;
    display: flex;

}

.navbar .left-part {
    width: 50%;
    text-align: left;
    float: left;
}

.navbar .right-part {
    width: 50%;
    text-align: right;
    float: left;
    margin: 10px;
}